* {
    /*box-sizing: border-box;
    This had to get moved because it was
    messing with the sizing of images and menus
    making them look terrible

    It is now in the two flex classes
    */
    font-family: Arial, Helvetica, sans-serif;
}

/* Header style */
.header {
    padding: 20px 10px;
    text-align: left;
    background: #685c53;  /* Howard's Rock color */
    color: #522d80;  /* Regalia color */
}

/* Reflow container */
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

/**************** Start Search column ****************/
.search-col {
    flex: 30%;
    box-sizing: border-box;
    background-color: #3a4958; /* Blue Ridge color */
    padding: 20px;
    border: 2px solid #333;
}

/* Search bar styling */
.search-col .main-search {
    float: left;
}

/* Search bar input field */
.search-col input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 12px;
    border: none;
}

/* Search button */
.search-col .main-search button {
    float: left;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

/* search button hover*/
.search-col .main-search button:hover {
    background: #ccc;
}
/****************  End Search Column  ****************/

/* Media column */
.media-col {
    flex: 70%;
    box-sizing: border-box;
    background-color: #d4c99e; /* Hartwell Moon color */
    padding: 20px;
    border: 2px solid #333;
    text-align: center;
}

/* Media image style */
.media-col img{
    vertical-align: middle;
    padding: 8px;
}

/* Style footer */
.footer {
    text-align: left;
    background: #685c53;
    padding: 5px 20px ;
}
 

/* Responsive "stacking" layout */
@media (max-width: 700px) {
    .flex-container { flex-direction: column;}
    .media-col { border-top: 1px; }
 }
 