.message_section {
    text-align: center;
    background-color: var(--drkbluegray);
    width: 100%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 30px;
}

.message_form {
    width: 95%;
    text-align: right;
    margin: auto;
}

.message_box {
    width: 100%;
    border: 1px solid var(--drkbluegray);
    color: black;
}

.message {
    width: 94%;
    margin: 0px auto;
    text-align: left;
    border-style: solid;
    border-width: 1px 2px;
    border-color: var(--drkbluegray);
    background-color: var(--midgray);
    color: var(--ltblack);
    padding-left: 10px;
    padding-top: 5px;
}