* {
   font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    background-color: var(--drkgrayblue);
    padding-bottom: 60px;
    position: relative;
}

/* Define colors */
:root {
   --orange: #f66733;
   --purple: #522D80;
   --drkgrayblue: #32333d;
   --ltblack: #333;
   --drkgray: #5b5b5b;
   --midgray: #aeafaf;
   --ltgray: #f6f7f7;
}

/* Style default buttons */
button {
   padding: 10px 10px;
   margin: 8px 0px;
   border: none;
   cursor: pointer;
   border-radius: 4px;
   color: white;
}

/* Style default button hover */
button:hover {
   opacity: 0.8;
}

input, textarea, select {
   padding: 5px 5px;
   margin: 8px 0px 8px;
   display: inline-block;
   box-sizing: border-box;
   border-radius: 4px;
   color: black;
}

input::placeholder, textarea::placeholder, select::placeholder {
   color: var(--midgray);
}

/* Style footer */
.footer {
   position: absolute;
   bottom: 0;
   height: 55px;
   width: 90%;
   text-align: left;
   background: var(--drkgrayblue);
   padding: 2px 5px;
   color: var(--midgray);
}
