/* keep all pages from staying beheind the navbar */
body {
    padding-top: 69px;
}

/************Start Navbar CSS*************/
/* navbar */
.topnav {
    z-index: 9;
    overflow: hidden;
    background-color: var(--ltblack);
    position: fixed;
    top: 0;
    width: 100%;
}

/* generic navbar items */
.topnav a {
   float: left;
   display: block;
   color: var(--ltgray);
   text-align: center;
   padding: 25px 16px;
   text-decoration: none;
   font-size: 16px;
}

/* right aligned navbar items */
.topnav a.right {
   float: right;
   display: block;
   background-color: var(--orange);
   color: white;
   text-align: center;
   padding: 20px 11px;
   margin: 5px 5px;
   text-decoration: none;
   font-size: 16px;
   border-radius: 4px;
}

/* container for user avatar and id */
.topnav a.user {
   float: left;
   display: block;
   color: var(--ltgray);
   text-align: center;
   padding: 0px;
   padding-right: 16px;
   text-decoration: none;
   font-size: 16px;
}

/* User avatar */
.topnav a.user img {
    float: left;
    vertical-align: middle;
    width: 49px;
    height: 49px;
    padding: 10px;
    border-radius: 50%;
 }

/* User Greeting */
.topnav a.user span {
    float: left;
    display: block;
    color: var(--ltgray);
    text-align: center;
    padding: 25px 0px;
    text-decoration: none;
    font-size: 16px;
}

/* highlight for non login/out buttons */
.topnav a:not(.right):hover {
    transition: 0.1s;
    background-color: var(--purple);
    color: white;
}

/* higlight for login/out buttons */
.topnav a.right:hover {
    opacity: 0.8;
}

/* menu button for responsive interface */
.topnav .icon {
    display: none;
}

/* resonsive version of navbar (closed) */
@media screen and (max-width: 600px) {
    .topnav a:not([top]) {display: none;}
    .topnav a.user {
        float: left;
        width: 100%;
        display: block;
        text-align: left;
    }
    .topnav a.icon {
        float: right;
        display: block;
        position: absolute;
        padding: 25px 16px;
        right: 0;
        top: 0;
    }
}

/* resonsive version of navbar (open) */
@media screen and (max-width: 600px) {
    .topnav.open {position: fixed;}
    .topnav.open a:not([top]) {
        float: left;
        width: 100%;
        display: block;
        text-align: left;
        padding: 16px 16px;
    }
}

/*****************End Navbar CSS***************/

/****************Start Popup CSS***************/
/* Login/register input fields*/
input[type=text], input[type=password] {
    width: 100%;
}

/* Style default buttons */
button {
   background-color: var(--orange);
}

/* Style cancel button */
.cancelbtn {
   width: 100px;
   background-color: var(--purple);
}

/* Popup container styling */
.container {
    padding: 16px;
    position: relative;
}

/* Span styling */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Popup Modal background styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Popup Modal Content */
.modal-content {
    background-color: var(--ltgray);
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid var(--midgray);
    width: 40%;
}

/* Style horizontal ruler */
hr {
    border: 1px solid var(--ltgray);
    margin-bottom: 25px;
}

/* Format close button */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: black;
    font-size: 35px;
    font-weight: bold;
}

/* Change color when hover over close button */
.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
/***************End Popup CSS***********/