/* Upload Content Area */
.uploadContent {
   display: flex;
   padding: 20px 10px;
   text-align: left;
   color: var(--orange);
}

/* User Content Area */
.userContent {
   display: flex;
   padding: 20px 10px;
   text-align: left;
   background: var(--drkgray);
   color: var(--orange);
}

/* Defined rows style */
.uploadRow, .userContentRow {
   display: flex; 
}

/* Defined columns style */
.uploadCol, .displayMediaCol, .userContentCol {
   flex: 50%;
   padding: 10px;
}

/* Style all submit buttons */
button[type=submit] {
   width: 100%;
   background-color: var(--purple);
}

/* Style delete media button */
button[name=reset] {
   background-color: var(--orange);
}

/* Style text input */
input[type=text], select {
   width: 100%;
   border: 1px solid var(--midgray);
}

/* Style date input */
input[type=date] {
   width: 38%;
   border: 1px solid var(--midgray);
}

/* Replace default placeholder */
::placeholder {
   color: var(--midgray);
   opacity: 1;
}

/* List Dropdown Placeholder*/
option[value=""] {
   display: none;
}

/* Image Preview styling */
img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   max-height: 500px; 
   max-width: 500px;
}

/* TODO: Responsive layout for mobile */
@media (max-width: 600px) {
   .uploadContent { flex-direction: column; }
}
