/****************Start Tab CSS*****************/
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid var(--drkbluegray);
    background-color: var(--drkgray);
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    border-radius: 0px;
    outline: none;
    cursor: pointer;
    margin: 0px;
    padding: 10px 10px;
    transition: 0.3s;
    font-size: 16px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: var(--orange);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: var(--purple);
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 10px 10px;
    border: none;
    border-top: none;
    min-height: 350px;
    background-color: var(--midgray);
}

/****************Stop Tab CSS******************/

/****************Start Menu CSS******************/
.vertical-menu {
    width: 100%;
    overflow-y: auto;
}

.left {
    width: 30%
}

.vertical-menu a {
    background-color: var(--midgray);
    color: black;
    display: block;
    padding: 10px; 
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: var(--ltgray); /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: var(--drkgray); /* Add a green color to the "active/current" link */
    color: white;
}
/****************Stop Menu CSS******************/

/****************Start Modal CSS***************/

/* Center the image and position the close button */
.closeContainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;   
}

.modalContainer {
    padding: 10px;
}

span.psw {
    float: right;
    padding-top: 10px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: var(--ltgray);
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid var(--midgray);
    width: 80%;
    max-width: 350px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
/****************End Modal CSS***************/
