.main_image {
    text-align: center;
    margin-top: 40px;
}

.main {
    width: 60%
}

.title {

}

.user {
    
}

.description {

}

.comment_section {

}

.comment {
    background-color: blueviolet;
    color: aliceblue;
}